@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@font-face{
font-family: AudiType;
src: url("./fonts/AudiType-WideLight_4.03.otf");
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
 }
 ::-webkit-scrollbar-thumb {
  background: #dadce8;
  border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: #c1bec2;
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }
html,
body {
  margin: 0;
  padding: 0;
  font-family: AudiType;
  font-size: 15px;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #ffffff;
}
.left-menu {
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 100%;
  text-transform: uppercase;  
  background-color: rgb(0, 0, 0, 0.9);
  z-index: 1000;
  position: fixed;
  clear: both;
}

.left-menu ul, li, ul {
  text-decoration: none;
  list-style: none;
  line-height:30px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-menu a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
}

.page-menu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.page-menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.page-menu a {
  display: inline-block;
  padding: 0.5em 17px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.page-menu a:before {
  left: 20%;
  right: 20%;
  top: 50%;
  content: '';
  border-left: 12px solid #ff0024;
  border-right: 12px solid #ff0024;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.page-menu a:hover,
.page-menu .current a {
  color: #ffffff;
}
.page-menu a:hover:before,
.page-menu .current a:before {
  left: 0;
  right: 0;
  opacity: 1;
}

.page-menu{  
 /* padding-top: 50px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.top-menu{
  position: fixed;
  height: 50px;
  z-index: 100;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  }

.arrow{
  position: fixed;
  height: 20px;
  width: 30px;
  right: 100px;
  bottom: 10px;
}

#logo{
  margin: 2px;
  height: 45px;
  width: 130px;
  position: absolute;
  right: 40px;
  }
  
#burgerW{
  z-index: 100000;
  position: relative;
  cursor: pointer;
  margin: 10px;
  height:25px;
  width: 34px;
  float: left;
}

hr{
  border: 0;
  height: 1px;
  background-color: rgb(0, 0, 0, 0.4);
}

#panel {
  position: fixed;
  top: 50px;
  right: -260px;
  z-index: 99999;
  transition: right 0.5s ease-out 0s;
  font-family: 'Rubik', sans-serif;
}

#panel:hover {
  right: 0;
}

#panel #content {
  width: 250px;
  height: 380px;
  padding: 10px;
  border-top: 2px solid #000000;
  border-right: none;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  z-index: 20;
  background: #FFFFFF;
  position: relative;
}

#panel #title {
  width: 150px;
  border: 2px solid #000000;
  background: #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px 5px 25px 5px;
  text-align: center;
  position: relative;
  top: 140px;
  left: -90px;
  transform: rotate(-90deg);
  z-index: 1;
}

#form-field {
  width:196px;
  height: 46px;
  padding: 0 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
}

#form-field:focus {
  border-color: #0f7ef1;
}

#sendBtn {
  width: 196px;
  padding: 12px 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
  margin-top: 10px;
  color: #000000;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif; 
  text-align: center;
}


 #sendBtn:hover {
   color: #fff;
   text-decoration: none;
   background-color: #000000;
 }


#titleForm{
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 10px;
}
#formCon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#headpic{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;}

#headpic-kon{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;}

#oferta,
#teksty,
#mapa,
#filmy,
#galeria, 
#kontakt{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

#audi {
  width: 290px;
}
#r8,
#rs5 {
  margin-left: 14px;
  width: 290px;
}

#rs7 {
  width: 290px;
}
#overt{
  height: 145px;
  overflow: scroll;
}

#text{
  width: 900px;
  font-size: 14.5px;
}
.copyright{
  bottom: 0;
  position: absolute;
}

#copyright{
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #64198f;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contentoferty{
  font-size: 14.5px;
}
.name {
 /* background-color: #64198f;
  color: #ffffff;
  text-align: center;
  height: 25px;
  width: 290px;
  font-weight: 700;
  background: #2c0055;
  box-shadow: 0px 0px 16px #a914ff;
  border-image: linear-gradient(#360154, #d442d5) 30;*/
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 25px;
  width: 290px;
  font-weight: 700;
  border:2px solid #000000
}
/*
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1162px;
  height: 57px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  border: 1px solid #d3d3d3;
  text-transform: uppercase;
  margin-bottom: 5px;
}*/
.app-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
#main-container {
  background-color: #ffffff; /*rgb(38, 104, 121);*/
  height: 100%;
  width: 1162px;
  flex-wrap: wrap;
  display: flex;
  /*border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;*/
  justify-content: center;
  align-items: center;
}
#up {
  float: left;
  margin-right: auto;
}

.burger {
  display: none;
  top: 50px;
  right: 20px;
  width: 25px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  background-image: url("pic/burger-menu-w.png");
  background-size: 100%;
  position: absolute;
}
#navilist {
  display: none;  
}
#overt{
  overflow: visible;
}
#navi{
  background: #000000;
}

.infPic {
  margin: 5px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Segoe UI;
}
#kliknij{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

@media screen and (max-width: 900px) {
  html, body, footer{
    font-size: 10px;
  }
  #main-container {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 10px;   
  }  
  header,nav,footer{
    height: 100%;
    width: 100%;
  }
  .main-nav {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  .burger {
    display: block;
  }
.name{
  text-align: center;
  font-size: 13px;
}

  .menu {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  #headpic{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #headpic-kon{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading{
    width: 100%;
  }

  .show {
    display: block !important;
  }
  #logo{
    margin: 2px;
    height: 25px;
    width: 72px;
    position: absolute;
    z-index: 100000;
    }
  #burgerW{
      height:15px;
      width: 24px;
      float: left;
      position: fixed;
    }
  .top-menu{
  height: 30px;
  }
  .page-menu{
    background-color:rgb(0, 0, 0, 0.9);
  }
  .arrow{
    right: 0;
  }
  .page-menu, .left-menu{
    width: 140px;
    top:30px;
  }
  .left-menu-menu{
    height: 100%;
  }
  #text, #contentoferty{
    font-size: 12px;
  }
  #navilist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    height: 50px;
  }

  .burger:hover {
    width: 25px;
    height: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    background-image: url("pic/burger-menu-w.png");
  }

  ul,
  ul li {
    float: none;
  }

#oferta,
#teksty,
#mapa,
#filmy,
#galeria, 
#kontakt {
  width: 400px;
  font-size: 10px;  
}
iframe{  
height: 225px;
}
#imgClickAndChange{
  width: 400px;
}
#panel #content {
  height: 300px;
  padding: 10px;
}
#panel #title {
  width: 150px;
  border: 2px solid #000000;
  background: #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px 5px 25px 5px;
  text-align: center;
  position: relative;
  top: 140px;
  left: -90px;
  transform: rotate(-90deg);
  z-index: 1;
}

#form-field, #sendBtn {
  width:156px;
  height: 36px;
}
#titleForm{
  font-size: 12px;
}
#formCon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
}

@media screen and (max-width: 400px) {
  html, body, footer{
    font-size: 10px;
  }
  #main-container {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;    
  }  
  header,nav,footer{
    height: 100%;
    width: 100%;
  }
  .main-nav {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  .burger {
    display: block;
  }

  .menu {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  #headpic{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #headpic-kon{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading{
    width: 100%;
  }

  .show {
    display: block !important;
  }

  #navilist {
    display: none;
  }

  .burger:hover {
    width: 25px;
    height: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    background-image: url("pic/burger-menu-w.png");
  }

  ul,
  ul li {
    float: none;
  }

#oferta,
#teksty,
#mapa,
#filmy,
#galeria, 
#kontakt {
  width: 200px;  
}
#imgClickAndChange{
  width: 290px;}

iframe{
height: 200px;
}

#audi{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
}
#logo{
  margin: 2px;
  height: 25px;
  width: 72px;
  position: absolute;
  z-index: 100000;
  }
#burgerW{
    height:15px;
    width: 24px;
    float: left;
    position: fixed;
  }
.top-menu{
height: 30px;
}
.page-menu{
  background-color:rgb(0, 0, 0, 0.9);
}
.arrow{
  right: 0;
  height: 15px;
  width: 22px;
}
.page-menu, .left-menu{
  width: 140px;
  top:30px;
}
.left-menu-menu{
  height: 100%;
}
#text, #contentoferty{
  font-size: 12px;
}
#panel #content {
  height: 300px;
  padding: 10px;
}
#panel #title {
  width: 150px;
  border: 2px solid #000000;
  background: #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px 5px 25px 5px;
  text-align: center;
  position: relative;
  top: 140px;
  left: -90px;
  transform: rotate(-90deg);
  z-index: 1;
}

#form-field, #sendBtn {
  width:156px;
  height: 36px;
}
#titleForm{
  font-size: 12px;
}
#formCon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}}